# dependencies
node_modules/
.pnpm-store/

# build
.next/
out/
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.ruff_cache/

# terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl

# aws cdk
cdk.out/
cdk.context.json

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# prisma
packages/db/node_modules/

# misc
*.log
coverage/
.turbo/
